//General Styles

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Solway&display=swap');

html {
  font-size: 62.5%;
  font-family: @mainFont;
  max-width: 100%;
}

html, body {
  font-size: 1.6rem;
  font-family: @mainFont;
  background-color: @sideColor;
}

h1, h2, h3, h4, h5 {
  font-family: @sideFont;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}