.Media{
    padding-top: 2rem;
    background-color: @mainColor;
    padding-bottom: 3rem;
    
    .Social {
        .flex(center,center, row);
        

        div{
                
            a{
                text-decoration: none;
                color: black;
                font-size: 3rem;
                margin: 2rem;

                @media @tablet{
                    padding:2rem;
                }
                
                @media @phone{
                    padding: 3rem;
                }
            }//closes div a

            @media @tablet{
                margin: 2rem;
            }
        }//closes div

        @media @tablet{
            flex-direction: column;
        }
    }//closes social
}//closes media