html{
    text-align:center;
    background-color:black;
}
#black {
color:white;

}
#key{
    color:red;
}
.top{
font-size:40px;
}
.top a:hover{
color:green;    
}
.top a{
font-size:30px;
color:red;
}
nav{
    margin-top: 30px;
    font-size: 25px;
}
#about{
    margin-top: 55px;
}
.back{
    background-color: red;
    color:black;
    margin-top:20px;
}
#media{
    border:white 50px;
    margin-bottom:50px;
}
section{
    font-size:25px;
}
footer{
    background-color:black;
    color:white;
}